/* RESET */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Ropa Sans', sans-serif;
} */

.card {
  /* display: flex; */
  border: solid 1px black;
  width: 50%;
  margin: 0 auto;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

#city-country,
#temperature {
  margin-bottom: 0;
}

#icon {
  height: 4em;
}

#card-time {
  margin: 0;
}

#desc-hum-container,
#sun-container {
  display: flex;
  justify-content: space-between;
}

#sun-container * {
  font-size: 1.1em;
}

#sunrise-container,
#sunset-container {
  display: flex;
}

#high-temp,
#low-temp {
  margin: 0;
  padding-left: 1em;
}
